h1
{
	text-align: center;
}

body
{
	background-image: url('images/background4.jpg');
}

.main
{
	margin-top:30px;
	border-radius: 8px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:500px;
	height: auto;
	text-align:center;
	border:1px solid black;
	background-image: url('images/divBackground.jpg');
}