h1
{
	text-align: center;
}

body
{
	background-image: url('images/background4.jpg');
}

.container
{
	margin-top:30px;
	height:auto;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.main
{
	border-radius: 8px;
	padding:0px;
	width:330px;
	height: auto;
	float: left;
	position: relative;
	right: 20px;
	text-align:center;
	border:1px solid black;
	background-image: url('images/divBackground.jpg');
}

.scoring
{
	width:200px;
	height:auto;
	float: left;
	text-align:center;
	position: relative;
	right: 30px;
	border:1px solid black;
	background-image: url('images/divBackground.jpg');
	border-radius: 8px;
}