.main
{
	padding:10em;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:1000px;
	text-align:center;
}
.startContainer
{
	border:1px solid black;
	border-radius:5px;
	text-align:center;
	vertical-align:middle;
}
.scoresContainer
{
	border:1px solid black;
	border-radius:5px;
	text-align:center;
	vertical-align:middle;
}
.footer
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
